@import 'extensions/mixins';
@import 'extensions/extend';
@import 'base/color'; 
@import 'base/fonts';
@import 'components/header';
@import 'components/footer';
@import 'components/hero';
@import 'components/servicios';
@import 'components/videopage';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}