$fuente: 'Urbanist', sans-serif;
$negrita: bold;
$cursiva: italic;



h1 {
    font-family: $fuente;
    letter-spacing: 5px;
}

h2 {
    font-family: $fuente;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 3px;
}

.titleLight {
    color: $blanco;
}

.titleStrong {
    color: $color-strong;
}

h3 {
    font-family: $fuente;
    color: $color-normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 3px;
}


@media only screen and (min-width: 768px) {    
    h4 {
        font-family: $fuente;
        font-weight: 300;    
        font-style: $cursiva;
        color: $blanco;
        letter-spacing: 2px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {  
    h4 {
        font-family: $fuente;
        font-weight: 300;    
        font-style: $cursiva;
        color: $blanco;
        letter-spacing: 2px;
        font-size: 15px;
    }
}




@media only screen and (min-width: 768px) {    
    h5 {
        font-family: $fuente;
        font-weight: 200;
        letter-spacing: 2px; 
        font-size: 20px;  
    }
}

@media only screen and (max-width: 767px) {  
    h5 {
        font-family: $fuente;
        font-weight: 200;
        letter-spacing: 2px; 
        font-size: 15px;  
    }
}






.accordion-button {
    font-family: $fuente;
    font-weight: $negrita;
    color: $color-strong;
}

h6 {    
    font-family: $fuente;
    font-weight: $negrita;
}



